.heroContainer {
    background: rgb(23,25,35);
    
}

.hero {
    max-width: 1300px;
    display: flex;
    min-height:70vh;
    margin: auto;
    align-items: flex-end;
    justify-content: flex-start;

    padding: 2rem 15px 4rem;
    .content {
        max-width: 50rem;
        margin-left: 1rem;

        h1 {
            font-size: 3.625rem;
            line-height: 1.6;
        }

        p {
            font-size: .9rem;
        }
    }

    img {
        border-radius: 5px;
    }
}