.containerVolume {
    position: relative;
    display: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;

    transition: .2s;

    &:hover {
        background-color: rgba($color: #fff, $alpha: .1);
    }

    .volume {
        visibility: hidden;
        opacity: 0;
        width: 3rem;
        transition: .2s;
        height: 2rem;

        bottom: 0;

        border-radius: 5px;
        position: absolute;
        right: 1.5rem;


        display: flex;
        align-items: center;

        input {
            height: 1px;
            width: 100%;
        }
    }

    .volume.showVolumeControls, &:hover .showVolumeControls {
        width: 7rem;
        padding: 0 1rem;
        right: 2rem;
        visibility: visible;
        opacity: 1;
    }
}