.containerVolume {
    position: relative;
    display: inherit;

    display: flex;
    height: 2rem;

    
    .volume {
        visibility: hidden;
        opacity: 0;
        width: 3rem;
        transition: .2s;
        height: 2rem;

        bottom: 0;

        border-radius: 5px;
        position: absolute;
        right: 0;


        display: flex;
        align-items: center;

        input {
            height: 1px;
            width: 100%;
        }
    }

    .volume.showVolumeControls {
        width: 7rem;
        padding: 0 1rem;
        right: 1rem;
        visibility: visible;
        opacity: 1;
    }
}