.profile {
    &__banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        backdrop-filter: brightness(10%);
        min-height: 50vh;
        padding: 0 15px;
        
        &_container {
            max-width: var(--max-width);
            width: 100%;
            margin: 0 auto;

            display: flex;
            align-items: start;
            justify-content: space-between;

            > div {
                display: flex;
                align-items: center;
                gap: 2rem;
            }

            button {
                
            }
        }

        &_avatar {
            display: block;
            line-height: 10rem;
            text-align: center;
            font-size: 4rem;
            font-weight: 600;
            border-radius: 100%;
            height: 10rem;
            width: 10rem;
            background-color: var(--primary-200);

            img {
                max-width: 100%;
                height: 10rem;
                width: 10rem;
                border-radius: 100%;
            }
        }

        h1 {
            font-size: 2rem;
            margin-top: 1rem;
        }

        ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
    }

    &__countanimes {
        max-width: var(--max-width);
        width: 100%;
        margin: 3rem auto 0;

        h1 {
            font-size: 1.5rem;
        }

        ul {
            list-style: none;
        }
    }

    &__animes {
        max-width: var(--max-width);
        width: 100%;
        margin: 0 auto;
        padding: 15px;

        display: flex;
        gap: 2rem;
    }
}