.profile {
    &__title {
        display: flex;
        align-items: center;
    }
    &__banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        backdrop-filter: brightness(10%);
        min-height: 50vh;
        padding: 0 15px;
        
        &_container {
            max-width: var(--max-width);
            width: 100%;
            margin: 8rem auto 0;

            // display: flex;
            // align-items: flex-start;
            // justify-content: space-between;

            > div {
                display: flex;
                align-items: center;
                gap: 2rem;
            }

            button {
                background-color: var(--gray-700);
                height: 3rem;
                padding: 0 2rem;
                border-radius: var(--border-radius);
                border: 0;
                font-weight: bold;
                color: var(--gray-50);
                transition: .2s;
                margin-bottom: 1rem;
                margin-left: auto;

                &:hover {
                    color: var(--primary-400);
                }
            }
        }

        &_avatar {
            display: block;
            line-height: 10rem;
            text-align: center;
            font-size: 4rem;
            font-weight: 600;
            border-radius: 100%;
            height: 10rem;
            width: 10rem;
            background-color: var(--primary-200);

            img {
                max-width: 100%;
                height: 10rem;
                width: 10rem;
                border-radius: 100%;
            }
        }

        h1 {
            font-size: 5rem;
            font-weight: 900;
            // margin-top: 1rem;
        }

        ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
    }

    &__countanimes {
        max-width: var(--max-width);
        width: 100%;
        margin: 3rem auto 0;

        h1 {
            font-size: 1.5rem;
        }

        ul {
            list-style: none;
        }
    }

    &__animes {
        max-width: var(--max-width);
        width: 100%;
        margin: 0 auto;
        padding: 15px;

        gap: 2rem;

        ul {
            display: flex;
            gap: 1rem;
            margin-bottom: 2rem;
        }

        &_container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
            gap: 2rem;
        }

        &_errorMessage {
            text-align: center;
            max-width: 700px;
            margin: 2rem auto;

            span {
                font-size: 3rem;
                font-weight: bold;
                display: block;
                color: var(--red-300);
            }

            strong {
                font-size: 1rem;
                display: block;
            }
        }
    }
}

@media (max-width: 600px) {
    .profile {
        &__banner {
            
            &_container {
                
                > div {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: .5rem;
                }
            }
    
            &_avatar {
                display: block;
                line-height: 10rem;
                text-align: center;
                font-size: 4rem;
                font-weight: 600;
                border-radius: 100%;
                height: 10rem;
                width: 10rem;
                background-color: var(--primary-200);
    
                img {
                    max-width: 100%;
                    height: 10rem;
                    width: 10rem;
                    border-radius: 100%;
                }
            }
    
            h1 {
                font-size: 2rem;
                margin-top: 1rem;
            }
    
            ul {
                display: flex;
                gap: 1rem;
                list-style: none;
            }
        }
    
        &__countanimes {
            max-width: var(--max-width);
            width: 100%;
            margin: 3rem auto 0;
    
            h1 {
                font-size: 1.5rem;
            }
    
            ul {
                list-style: none;
            }
        }
    
        &__animes {
            max-width: var(--max-width);
            width: 100%;
            margin: 0 auto;
            padding: 15px;
        }
    }
}