.slider {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
  
    &[data-orientation="horizontal"] {
      height: 20;
    }
  
    &[data-orientation="vertical"] {
      flex-direction: column;
      width: 20;
      height: 100;
    }

    &__track {
        // background-color: ;
        background-color: var(--primary-500);
        position: relative;
        flex-grow: 1;
    transition: .2s all;

        border-radius: 9999px;
      
        &[data-orientation="horizontal"] { height: 3px };
        &[data-orientation="vertical"] { width: 3px }
    }

    &__range {
        position: absolute;
        background-color: var(--gray-50);
        border-radius: 9999px;
        max-height: 100%;
        height: 100%;
    }

    &__thumb {
        background-color: var(--gray-50);
        
        width: 20px;
        height: 20px;
        display: block;
        border-radius: 100%;
    }
}