.headerContainer {
    border-bottom: solid var(--red-900) 2px;

    .header {
        max-width: var(--max-width);
        margin: 0 auto;
        height: 5rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        padding: 0 15px;
    }

    .menu {
        flex: 1;

        .menuContainer {
            list-style: none;
            display: flex;

            .menu__item > a, .menu__item p {
                cursor: pointer;
                padding: 1rem;
                transition: .2s;
                font-weight: 600;
                display: block;

                // background-color: red;
                &:hover {
                    color: var(--red-700);
                }
            }

            .menu__item p {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            .menu__item:first-child:hover {
                .dropdown {
                    max-height: 100%;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .user {
        font-family: 'Oswald', sans-serif;
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            box-shadow: 0 0 0 2px var(--gray-900), 0 0 0 4px var(--red-900);
        }
    }
}