.headerContainer {
    border-bottom: solid var(--primary-600) 2px;

    .header {
        max-width: var(--max-width);
        margin: 0 auto;
        height: 5rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        padding: 0 15px;

        .userAndSearch {
            display: flex;
            justify-content: end;
            flex: 1;
            .user {
                font-family: 'Oswald', sans-serif;
                display: flex;
                align-items: center;
                gap: 1rem;

                // border-left: 2px solid var(--gray-100);
                // padding-left: 1rem;
        
                img {
                    object-fit: cover;
                    border-radius: 100%;
                    box-shadow: 0 0 0 3px var(--gray-900), 0 0 0 5px var(--primary-600);
                }
            }
        }
    }  
    
    .buttonMobile {
        display: none;
    }
}
