.navigation {
    position: relative;
    z-index: 10;

    ul {
        list-style: none;

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .item {
        font-weight: 600;
        color: var(--gray-50);
        transition: .2s;

        &:hover {
            color: var(--primary-400);
        }
    }

    &__user {
        font-family: 'Oswald', sans-serif;

        span {
            white-space: nowrap;
            display: block;
            text-align: right;
        
            &:last-child {
                font-family: 'Poppins';
                font-size: .8rem;
            }
        }
    }

    &__avatar {
        display: block;
        line-height: 3rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        background-color: var(--primary-200);

    }

    .trigger {
        background-color: transparent;
        border: none;

        display: flex;
        align-items: center;
        gap: .5rem;

        svg {
            transition: .4s;
        }

        &[data-state="open"] {
            color: var(--primary-400);
            
            svg {                
                transform: rotate(-180deg);
            }
        }
    }

    .dropdown {
        top: 1rem;
        right: 0;
        position: absolute;
        flex-direction: column;
        gap: 0;
        box-shadow: 0 0 0 2px var(--gray-800);
        width: 250px;

        transition: .2s;
        z-index: 200;
        background-color: var(--gray-900);
        border-radius: 5px;

        padding: 1rem;

        animation: dropdownAnimation .3s;

        .dropdownItem {
            font-weight: 500;
            display: flex;
            align-items: center;
            width: 100%;

            button {
                background-color: transparent;
                border: 0;

                &.colorRed {
                    color: var(--red-400) !important;
                }
            }

            a, button {
                padding: 1rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                width: 100%;
            }

            &:hover,
            &:focus {
                background-color: var(--gray-800);
                border-radius: 5px;

                a, button {
                    color: var(--primary-400);
                }
            }
            
        }
    }

}

@keyframes dropdownAnimation {
    0% {
        transform: rotateX(-10deg) scale(0.95);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@media (max-width: 700px) {
    .navigation {
        width: 100%;

        ul {
            margin: 1rem 0;
            flex-direction: column;
            align-items: flex-end;
            gap: 0;
        }      

        li a {
            padding: 1rem ;
            width: 100%;
            border-radius: var(--border-radius);
            display: inline-block;
            font-size: 1rem;
        }

        .dropdown {
            position: relative;
            top: auto;
            right: 0;
        }

        .item {
            text-align: end;
            width: 100%;
            .active {
                background-color: var(--gray-800);

            }
        }
    }
}