.avatarSlider {
  &__item {
    position: relative;
    overflow: hidden;

    > span {
      border-radius: var(--border-radius);
    }
    
    img {
      transform: scale(1.1);
    }
    
    &_selected {
    
      svg {
        position: absolute;
        top: 5px;
        right: 5px;
        color: var(--primary-300);
      }
    }
  }
}