.player {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    
    .videoPlayer {
        overflow: hidden;
        max-width: 100%;
        width: 100%;
        height: auto;   
        border-radius: var(--border-radius);
        cursor: pointer;
    }

    .containerControls.showControls, .containerControls:hover {
        visibility: visible;
        opacity: 1;
    }

        .containerControls {
        visibility: hidden;
        opacity: 0;
        transition: .5s;
    }    
}
