.popularAnimesContainer {
    padding: 1rem;

    .popularAnime {
        overflow: auto;
        max-width: var(--max-width);

        margin: auto;

        display: flex;
        justify-content: center;
        gap: 2rem;        
    }
}