.popularAnimesContainer {
    padding: 1rem 15px;

    .popularAnime {
        // overflow: auto;
        max-width: var(--max-width);

        margin: auto;

        display: flex;
        justify-content: space-between;
        gap: 2rem;        
    }
}