.cardAnime {
    flex-shrink: 0;
    cursor: pointer;
    border-radius: var(--border-radius);

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 190px;
        max-height: 278px;
        width: var(--card-width);
        height: var(--card-height);
    }

    img {
        display: block;
        max-width: 190px;
        max-height: 278px;
        width: 100%;
        height: 100%;
        line-height: 0;
        border-radius: var(--border-radius);
        object-fit: cover;

        &:hover {
            box-shadow: 0 0 0 4px var(--gray-900), 0 0 0 6px var(--primary-600);
        }
    }

    span {
        margin-top: .5rem;
        line-height: 1.1;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden; 
    }
}

@media (max-width: 500px) {
    .cardAnime {
        --card-width: 170px;
        --card-height: 260px;
    }
  }