.season {
    margin-block: 2rem;

    &__header {
        margin-bottom: 2rem;
    }

    &__episodes {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    }
}
